.active-animation-running {
    aspect-ratio: 895 / 599;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.illness {
    width: 139px;
    height: 64px;
    position:absolute;
    background: #00000055;
    backdrop-filter: blur(3px);
    font-family: sans-serif;
    border: 2px solid currentColor;
    outline: 4px solid #00000055;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    animation-delay: none !important;
    animation: none;
}

.illness > *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    animation-delay: none !important;
}

.illness svg {
    width: 30px;
    height: 30px;
    outline: solid 2px currentColor;
    background-color: #00000055;
}
.illness:hover .virus{
    animation: rotate 10s linear infinite;
}

.illness__text {
    font-size: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    text-align: center;
}

.IllnessBoard {
    -webkit-box-shadow: 10px 10px 35px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 35px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 35px -7px rgba(0, 0, 0, 0.2);
}

.illness:hover .shake{
    animation: shake 2s linear infinite;
}

.illness:hover .syringe{
    animation: expand 2s linear infinite;
}

.properties{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    height: 100%;
}