.bt__menu {
    background-color: white !important;
}

.dropdown__conteiner {
    display: flex !important;
}
.Brand {
    display: flex;
}

.Brand div {
    line-height: 100%;
    margin-left: 5px;
    color: white !important;
}
