@import 'Mixin';

@include keyframes(rotate) {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

@include keyframes(flip) {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@include keyframes(blur) {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}