@import 'Variables';
@import 'Mixin';

.EditBar {
    background-color: $m3--sys--light--secondary-container;
    width: calc(100% - 16px);
    height: 60px !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 0px 8px;
    
    @include shadow($m3---elevation--light--2);
}

.name__update{
    background-color: transparent;
    font-weight: lighter;
    text-transform: uppercase;
    text-overflow: ellipsis;
    border-radius: 4px;
    border-color: transparent;
    color: $m3--sys--light--primary;
    margin-top: 12px;
    border-width: 2px;
    padding: 8px 0px 8px 16px;
    font-size: $m3--body--large;
    outline: none;
    &:focus{
        border-color: $m3--sys--light--outline;
    }
}

.button__group__conteiner{
    display: flex;
}

.button__group__conteiner button{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    @include shadow($m3---elevation--light--2);
    border-radius: 12px;
    color: $m3--sys--light--on-primary-container;
    background-color:$m3--surfaces--light--surface3;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
        @include shadow($m3---elevation--light--4);
        animation: jelli 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
}

input[type="file"]{
    display: none;
}

.state_1 {
    background-color: $m3--sys--light--primary !important;
    color: white !important;
}

.state_2 {
    background-color: $m3--sys--light--primary !important;
    color: white !important;
}