@import 'Mixin';
@import 'Header';
@import 'Variables';
@import 'EditBar';
@import 'BodyEdit';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $bg-color;
    animation: blur 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    // background-image: url('https://image.shutterstock.com/image-vector/example-red-square-grunge-stamp-260nw-327662909.jpg');
    // background-color: rgba(var(--bs-success-rgb), 0.2) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    @include User-Select(none);
}

textarea:focus,
input:focus {
    outline: none;
}